html {
    background-color: #00a3b8;
    background-image: url("tiny-grid.png");
    font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
  }

body {
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    justify-content: space-evenly;
}

.gameboard {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    grid-template-rows: 5fr 5fr 5fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .square {
    background: #FFFFFF;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #505050;
  }

  .square.free:hover {
      background: #E8E8E8;
  }

  .square.win {
    background: #FFAE00;
    color: #FFFFFF;
  }

  .play {
    width: 6rem;
    height: 2.5rem;
    background: #FFFFFF;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    border: 1px solid #00a3b8;
    color: #505050;
  }

  .play:hover {
    background: #FFAE00;
  }

  .gameText {
    color: #E8E8E8;
    background: #00a3b8;
    width: 50%;
    height: 2rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .modal-settings {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 100%;
    z-index: 1010;
    background: #00a3b8;
    border: 5px solid #E8E8E8;
    color: #E8E8E8;
  }

  .modal-title {
    text-align: center;
    font-weight: normal;
    margin-bottom: 30px;
  }

  .modal-wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }

  .modal-wrapper li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }

  .modal-wrapper li > label {
    flex: 1 0 100px;
    max-width: 100px;
  }

  .modal-wrapper li > label + * {
    flex: 1 0 250px;
    background: #DDDDDD;
    border: 3px solid #DDDDDD;
  }

  .modal-wrapper button {
    border: 2px solid #DDDDDD;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    background: #00a3b8;
    color: #DDDDDD;
  }

  .modal-wrapper button:hover,
  .close-modal button:hover {
    background: #FFFFFF;
    color: #00a3b8;
}

.close-modal button {
  background: #00a3b8;
  color: #DDDDDD;
  border: none;
  font-size: 1rem;
}

  #play-AI {
    flex: 0 0 0;
  }

  .close-modal {
    position: absolute;
    left: 0;
    top: 0;
    
  }

  .modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }

  .closed {
    display: none;
  }